.profile-contait {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-contait .profile {
  position: relative;
  padding: 60px 40px;
  border-radius: 50px;
  background-color: var(--light-gray);
}

#dark .profile-contait .profile {
  background-color: var(--dark-gray);
}

.profile-contait .profile .profile-add-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
  padding: 10px 30px;
  border: 2px dashed #00000050;
  margin: 0 auto 30px;
}

#dark .profile-contait .profile .profile-add-img {
  border: 2px dashed #ffffff50;
}

.profile-contait .profile .profile-add-img .form-group {
  position: relative;
  width: 110px;
  height: 100px;
}

.profile-contait .profile .profile-add-img .form-group::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff url('../../assets/images/add_img.png') center no-repeat;
  background-size: contain;
  opacity: 0.5;
  cursor: pointer;
}

.profile-contait .profile .profile-add-img .form-group input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.profile-contait .profile .profile-add-img .add-img-setting p{
  display: none;
  font-size: 15px;
  color: #00000099;
  font-weight: 300;
  margin-bottom: 15px;
}

#dark .profile-contait .profile .profile-add-img .add-img-setting p{
  color: #ffffff99;
}

.profile-contait .profile .profile-add-img .add-img-setting .img-btns{
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-contait .profile .profile-add-img .add-img-setting .img-btns :is(label, a){
  color: var(--blue-color);
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
}


.profile-contait .profile .profile-form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.profile-contait .profile .profile-form .form-group{
  width: 100%;
}

.profile-contait .profile .profile-form .form-group label{
  display: block;
  margin-bottom: 5px;
}

.profile-contait .profile .profile-form-btn{
  border-radius: 8px;
  max-width: 300px;
  font-size: 14px;
  margin: auto;
}

@media (min-width: 567px) {
  .profile-contait .profile{
    width: 500px;
  }
  .profile-contait .profile .profile-form .form-group{
    width: 300px;
  }
  .profile-contait .profile .profile-add-img{
    flex-direction: row;
    width: 300px;
    padding: 10px;
    margin: 0 0 30px;
  }
  .profile-contait .profile .profile-add-img .add-img-setting p{
    display: block;
  }
}


@media (min-width: 768px) {
  .profile-contait .profile{
    width: 750px;
    justify-content: space-between;
  }

  .profile-contait .profile .profile-form{
    justify-content: space-between;
  }
}