.table{
  position: relative;
  max-height: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

.styled-table {
  background-color: var(--light-gray);
  min-width: 500px;
  width: 100%;
  font-size: 0.9em;
}

#dark .styled-table{
  background-color: var(--dark-gray);
}

.styled-table .table-header{
  position: sticky;
  top: 0;
  z-index: 1;
}

.styled-table .table-header tr {
  text-align: left;
  background-color: var(--light-gray);
  color: var(--dark-color);
}

#dark .styled-table .table-header tr{
  background-color: var(--dark-gray);
  color: var(--white-color);
}

.styled-table th{
  padding: 10px 10px;
  font-weight: 400;
  font-size: 14px;
}

.styled-table td {
  padding: 0 10px;
  font-weight: 300;
  font-size: 14px;
}

.styled-table tbody tr {
  border-bottom: 1px solid var(--light-gray);
  background-color: var(--white-color);
}

#dark .styled-table tbody tr{
  background-color: var(--light-gray);
}

.table-btns-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.table-btns-container button{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--dark-gray);
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s  ease-in-out;
}

.table-btns-container button:hover{
  background-color: var(--light-gray);
}

.edit-input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--light-gray);
  font-size: 14px;
  font-weight: 300;
  padding: 8px;
  border-radius: 5px;
}