.store-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px dashed var(--dark-gray);
  transition: 0.3s all ease-in-out;
}

.store-card:hover{
  transform: translateY(-5px);
}

.store-card .card-img{
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.store-card .card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.store-card:hover .card-img img{
  transform: scale(1.1);
  filter: brightness(0.8);
}

.store-card .card-body{
  padding: 15px 10px;
}

.store-card .card-body .store-name{
  font-size: 15px;
  font-weight: 300;
  color: var(--dark-color);
  margin-bottom: 5px;
}

.store-card .card-body .store-location{
  font-size: 13px;
  font-weight: 300;
  color: var(--dark-color);
}

@media (min-width:370px) {
  .store-card{
    width: 140px;
  }  
  .store-card .card-img{
    height: 120px;
  }
}